@import "variable";
.custom-modal-confirm{
    z-index: 999999;
    margin-top:100px;

    .modal-dialog{
        width: 350px;

        .row{
            margin-left: 0px;
        }
    }
}
.custom-modal{
    z-index: 999999;
    margin-top:100px;
    
    &.error_validation, &.error{
        .modal-content{
            background: #a30000;

            .alert-danger{
                background: #a30000;
                color:#fff;
                border: 0px;
                text-align: left;
                border: 0px;

                span{
                    font-size: 14px;
                }
            }

            .btn{
                background: #fff;
                color: #4F4F4F;
                border:0px;
            }
        }
    }

    &.success{
        .modal-content{
            background: #4ab95d;
            .alert-success{
                background: #4ab95d;
                color:#fff;
                border:0px;
            }
            .btn{
                background: #155724;
                color: #fff;
                border:0px;
            }
        }
    }

    &.custom-success{
        .modal-dialog{
            margin:auto;

            .modal-content{
                border-radius: 50px;
                .fa-check{
                    font-size: 20px;
                    color: #03831F;
                    width:40px;
                    height: 40px;
                    border: 2px solid #03831F;
                    border-radius: 50px;
                    padding: 10px;
                }
                .btn{
                    display: none;
                }
            }
        }
    }
}

.floater{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    top: 0px;
    left: 0px;
    background: $color_black_modal;

    .loading{
        color:$color_white;
        margin: auto;
    }
}

.opsi-item{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    background: #35498b1f;
    height: 40px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #8594c3;

    &.selected{
        background: #36498B;
        .opsi-name{
            color:#fff;
        }

        .opsi-icon{
            color:#fff;
        }
    }

    .opsi-name{
        width: calc(100% - 25px);
        color:#36498B;
        font-weight: 700;
    }

    .opsi-icon{
        width:25px;
        text-align: right;
        font-size: 12px;
    }
}
.modal-content{
    border-radius: 25px !important;
}
.modal-dialog{

    .row{
        margin-left: 0px;
    }
}

.module-upload{
    .modal-dialog{
        width:1000px;
        left: 50%;
        margin-left: -500px;
        background: transparent !important;

        .modal-content{
            width:1000px;
            background: transparent !important;
            border:0px;
            margin-top: -3px;

            .modal-header{
                width: fit-content;
                background: $color_bg_gray;
                margin-left:70px;
                padding-left: 25px;
                padding-right: 25px;
                border-bottom: 0px;
                font-weight: 900;
                font-size: 20px;
                line-height: 24px;
                color:$text_dark;
                position: relative;
                border-radius: 25px 25px 0px 0px;
                height: 77px;

                &:before{
                    content: "";
                    position: absolute;
                    background-color: transparent;
                    bottom: 0px;
                    left: -25px;
                    height: 46px;
                    border-radius: 0px 0px 25px 0px;
                    width: 25px;
                    box-shadow: 0 23px 0 0 $color_bg_gray;
                }

                &:after{
                    content: "";
                    position: absolute;
                    background-color: transparent;
                    bottom: 0px;
                    right: -25px;
                    height: 46px;
                    border-radius: 0px 0px 0px 25px;
                    width: 25px;
                    box-shadow: 0 23px 0 0 $color_bg_gray;
                }
            }

            .modal-body{
                background: $color_bg_gray;
                border-radius: 25px;
                border:0px;
            }
        }
    }
}

.close-modal{
    width: 40px;
    height: 40px;
    position: absolute;
    top: -55px;
    right: 25px;
    border-radius: 30px;
    font-size: 25px;
    padding: 0px;
    background: $color_white;
    color: $color_semi_grey;
}