$color_white: #ffffff;
$color_white_transparent: rgba(255, 255, 255, 0.1);
$color_chocolate: #A34E00;
$color_gray: #C1C1C1;
$color_purple_soft:#ECF0FF;
$color_purple_semi_soft:#D8E0FF;
$color_black: #000000;
$color_semi_yellow:#FFF5D8;
$color_semi_grey:#858586;
$color_black_modal:#00000071;
$color_main_blue:#36498B;
$color_bg_soft_blue:#ebefff;
$color_main_blue_washed: #2d2d4d;
$color_bg_gray: #f1f3f5;
$color_bg_red:#cf0e0e;
$color_red:#801111;
$color_bg_success:#138400;
$color_success:#0e4d03;
$color_text_dark: #444444;


$dark_pink:#690f50;
$purple:#7453aa;
$text_dark:#666;
$color_danger:#a30000;
$color_priority_high:#a30000;
$color_priority_medium:#fd9206;
$color_priority_low:#55b629;
$color_priority_urgent:#7453aa;

$color_badge_todo: #ad329a;
$color_badge_progress: #058bea;
$color_badge_completed: #25b70c;
$color_badge_archieved: #cccccc;

$color_card_arvhieved: #ecebeb;
$color_card_arvhieved_button: #bcbcbc;