@import 'modals';
@import 'variable';

body{
    background: #a51260 !important;
}

.login{
    padding-top: 200px;
    text-align: center;
    color: $color_white;

    .custom-form{
        padding-top: 50px;
        text-align: center;
    }

    .col-login{
        width: 300px;
    }

    .form-control{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 18px 10px 18px 23px;

        width: 100%;
        height: 60px;
        border: 0px;
        background: $color_white_transparent;
        margin-bottom: 5px;
        box-shadow: 0px 12px 44px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        color:$color_white;

        &::placeholder{
            color: $color_white;
        }
    }

    button{
        box-sizing: border-box;

        /* Auto layout */

        display: inline-block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 33.3333px;
        gap: 6.67px;

        width: 240px;
        height: 63px;
        border: 1px solid $color_white;
        color: $color_white;
        border-radius: 66.6667px;
        background: #690f50;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-top: 25px;
    }

}


///////////////////////////////////////////////////////////////////////////////

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    .menu-wrapper{
        width: fit-content;
    }

    .main{
        width:calc(100%);
        margin-left: 15px;
        margin-right: 10px;
    }
}

.sidebar-left{
    width:250px;
    transition: width 0.5s ease-in ;
    padding-left: 10px;
    padding-top: 25px;

    &.minimize{
        .menu-item-right{
            display: none !important;
        }

        transition: width 0.5s ease-in ;
        width:90px;

        .logo{
            display: none !important;
        }
    }

    .logo{
        background:#29345b;
        border-radius: 20px 39px 39px 5px;
        display: block;
        height: 64px;
        align-items: center;
        width:fit-content;
        text-align: center;
        padding: 7px 35px 20px 20px;
        margin-bottom: 15px;

        img{
            height: 36px;
        }
    }
    .menu{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        background: #fff;
        border-radius: 5px 20px 20px 20px;
        min-height: 300px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:15px;
        padding-bottom: 30px;
        cursor: pointer;

        .menu-item{
            display: flex;
            flex-direction: row;
            min-height: 43px;
            align-items: center;

            .menu-item-left{
                width:40px;

                .account-avatar{
                    width: 30px;
                    margin: 5px;
                    border:1px solid #36498B;
                    border-radius: 30px;
                }

                .icon{
                    text-align: center;
                    width: 20px;
                    margin-left: 10px;
                    color:$color_semi_grey;
                }
            }

            .menu-item-right{
                width: calc(100% - 40px);
                padding-left: 5px;
                padding-right: 25px;
                display: flex;
                flex-direction: column;

                .account{
                    display: flex;
                    flex-direction: column;
                    height: fit-content;
                    gap:5px;
                    margin-bottom: 10px;

                    .account-name{
                        font-size: 14px;
                        color: #545556;
                        font-weight: 600;
                        font-family: 'Lato', sans-serif;
                    }

                    .account-type{
                        border:1px solid #36498B;
                        color:#36498B;
                        background: rgba(54, 73, 139, 0.1);
                        font-size: 12px;
                        font-style: italic;
                        width: fit-content;
                        padding: 0px 5px;
                        border-radius: 11px;
                    }
                }
                
                .menu-name{
                    font-size: 14px;
                    font-weight: 400;
                    font-family: 'Lato', sans-serif;
                }
            }

            &.separated{
                border-top: 0.5px solid #ccc;
            }

            &.active{
                background: #29345b;
                border-radius: 10px;

                .menu-name{
                    color:#ffffff;
                }

                .icon{
                    color:#ffffff;
                }
            }
        }
    }
}

.main{

    .content{
        margin-top: 25px;
        position: relative;

        .head{
            display: flex;
            flex-direction: row;

            .title{
                svg{
                    margin-right: 10px;
                }

                margin-left: 70px;
                align-items: center;
                padding: 26px 26px 26px 22px;
                gap: 10px;
                width: fit-content;
                white-space: nowrap;
                background: #f7f7f7;
                border-radius: 30px 30px 0px 0px;
                font-weight: 900;
                font-size: 20px;
                line-height: 24px;
                color: #666666;
                font-family: 'Lato', sans-serif;
                position: relative;
                

                &:before{
                    content: "";
                    position: absolute;
                    background-color: transparent;
                    bottom: 0px;
                    left: -25px;
                    height: 46px;
                    border-radius: 0px 0px 25px 0px;
                    width: 25px;
                    box-shadow: 0 23px 0 0 #f7f7f7;
                }

                &:after{
                    content: "";
                    position: absolute;
                    background-color: transparent;
                    bottom: 0px;
                    right: -25px;
                    height: 46px;
                    border-radius: 0px 0px 0px 25px;
                    width: 25px;
                    box-shadow: 0 23px 0 0 #f7f7f7;
                }
            }

            .button-group{
                display: flex;
                gap:10px;
                width: 100%;
                text-align: center;

                .mt-c-20{
                    margin-top: 20px;

                    select{
                        border-radius: 10px;
                    }

                    .dp__main{
                        input{
                            border-radius: 10px !important;
                        }
                    }

                }

                .input-group{
                    width: 200px;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    height: 40px;
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px -8px #000;

                    .form-control{
                        background:none !important;
                        border:0px;
                        color: $color_white;
                        
                        &::placeholder{
                            color: $color_white;
                        }
                    }

                    .input-group-addon{
                        color: $color_white;
                        padding-right: 15px;
                        padding-left: 15px;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

                .custom-btn-upload{
                    margin-top: 20px;
                    margin-left: 50px;
                }
            }
        }

        .body{
            background:#f7f7f7;
            border-radius: 30px;
            padding-bottom: 50px;
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
            border-top-right-radius: 30px;
            height: calc(100vh - 120px);
            overflow: scroll;

            .body-content{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    .head-menu{
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
        color: $color_white;
        font-family: 'Lato', sans-serif;
        text-align: center;
        margin-top: 47px;
    }
}

.sidebar-right{
    margin-top: 30px;
    background: $color_white;
    border-radius: 30px;
    min-height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;

    h3{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        color:$color_black;
    }

    .c-table{
        display: flex;
        flex-direction: column;

        .c-table-item{
            display: flex;
            width: 100%;
            margin-bottom: 6px;
            flex-direction: row;

            .item{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                color: #36498B;
                border-bottom: 0px;
                min-width: 100px;
                height: 26px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                z-index: 1;
            }
        }
    }

    .weekly-progress{
        width: 100%;
        margin-top: 15px;

        .past{
            position: relative;

            .progress{
                position: absolute;
                height: 26px;
                left: 0px;
                border-radius: 5px;
                background: $color_purple_semi_soft;
                z-index: 0;
            }
        }
    }

    .monthly-progress{
        width: 100%;
        margin-top: 15px;

        .past{
            position: relative;

            .progress{
                position: absolute;
                height: 26px;
                left: 0px;
                border-radius: 5px;
                background: $color_semi_yellow;
                z-index: 0;
            }
        }
    }
}

.form-control{
    font-size: 15px !important;

    &:active, &:focus, &:hover{
        outline: none !important;
        box-shadow: none !important;
    }
}

.custom-btn-upload{
    background: $dark_pink;
    color:$color_white;
    height: 40px;
    border-radius: 10px;
    border:2px solid $color_bg_gray;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 130px;
}

.custom-btn-danger{
    background: $color_danger;
    color:$color_white;
    height: 40px;
    border-radius: 10px;
    border:2px solid $color_bg_gray;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 130px;
}

.custom-btn-success{
    background: $color_bg_success;
    color:$color_white;
    height: 40px;
    border-radius: 22px;
    border:2px solid $color_bg_gray;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 130px;
}

.custom-btn-primary{
    background: $color_main_blue;
    color:$color_white;
    height: 40px;
    border-radius: 22px;
    border:2px solid $color_gray;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 130px;
}

.form-custom{
    margin-bottom: 10px;
    label{
        margin-bottom: 5px;
        font-size: 14px;
    }
}

.custom-float-btn-primary{
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 150px;
    height: 62px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: $color_main_blue;
    border-radius: 50px 0px 20px;
    text-transform: uppercase;
}

.box-bordered{
    border: 1px solid $color_purple_semi_soft;
    background: $color_purple_soft;
    text-align: center;
    padding: 35px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.nopad{
    &:first-child{
        padding-left: 0px;
    }

    &:last-child{
        padding-right: 0px;
    }
}

.gap15{
    gap:15px;
}

.chart-panel{
    padding: 15px;
}

.file-upload{
    border: 1px solid $color_gray;
    padding:15px;
    background: $color_white;
    border-radius: 12px;
    min-height: 250px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;

    .upload-area{
        display: flex;
        width: 240px;
        height: 150px;
        background: $color_bg_soft_blue;
        align-items: center;
        margin: 35px auto;
        border-radius: 12px;
        border: 1px solid $color_gray;
        cursor:pointer;
        flex-direction: column;
        margin-bottom: 35px;

        svg{
            font-size: 50px;
            margin: 35px auto 0px;
            color: $color_semi_grey;
        }

        p{
            font-size:14px;
            color:$color_semi_grey;
            padding-left:15px;
            padding-right:15px;
            text-align: center;
        }

    }

    .list-files{
        display: flex;
        flex-direction: row;
        background: $color_bg_gray;
        padding: 5px 15px;
        border-radius: 5px;
        margin-bottom: 5px;

        .file-name{
            width: 90%;
            font-size: 14px;
        }

        .file-size{
            width:150px;
            font-size: 14px;
            text-align: right;
        }
    }
}

.f14{
    font-size: 14px;
}
.item-custom-data td{
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    color: $color_black !important;
}

.text-right{
    text-align: right;
}

.dropdown-toggle{
    &::after{
        display: none;
    }
}

.dropdown-item{
    font-size: 14px;
}

.btn-transparent{
    .btn{
        background:transparent !important;
        color:$color_main_blue;
        border:0px;
        padding: 0px 10px;
        font-size: 16px;
    }
}

.paginations{
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block !important;
    width: fit-content;

    .pagination{
        .page-item{
            &.active{

                .page-link{
                    background: $color_white;
                    color:$dark_pink;
                }
            }
        }

        .page-link{
            border-color: $dark_pink;
            background: $dark_pink;
            color: $color_white;
        }
    }

}

.form-label{
    font-size: 14px;
}

.webview{
    border-radius: 12px;
}

#webviewer{
    height: 100%;
    border: 1px solid $color_gray;
}

.mr-2{
    margin-right: 20px;
}

.panel{
    background: $color_bg_gray;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 25px;
}
.multiselect{
    min-height: 80px !important;

    .multiselect-tag{
        background: #a51260 !important;
    }
}

.panel-white{
    background: $color_white;
    border-radius: 5px;
    padding: 5px 0px 0px;
    margin-bottom: 10px;
    
}

.form-check{
    cursor: pointer;
    
    span{
        font-size: 14px;
    }
}

input{
    font-size: 14px;
}

h4{
    color:$color_text_dark;
}
h5{
    color: $color_semi_grey;
    margin-bottom: 10px;
}
.scrollable-area{
    max-height: 100vh;
    overflow: scroll;
}

.nopadding{
    div{
        &:first-child{
            padding-left: 0px;
        }

        &:last-child{
            padding-right: 0px;
        }
    }
}

.normal-input{
    min-height: 40px !important;
}

.map-area{
    border:1px solid #cdd4d9;
}

.section-body{
    margin-top: 15px;
    position: relative;
    border:1px solid #cdd4d9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 35px;
    background: #f2f2f2;
    
    .section-title{
        color: #555;
        font-size: 16px;
        position: absolute;
        top: -28px;
        left: 15px;
        padding: 11px 15px 0px;
        background: #f2f2f2;
        border: 1px solid #ccd4d8;
        border-bottom: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.data-counter{
    font-size: 28px;
    font-weight: 800;
    color: #00c1b0;
    text-shadow: 0px 0px 1px #fff;
}

.text-pink{
    color: #fb2576;
}

.text-blue{
    color: #36498B;
}

.section-title{
    font-size: 18px;
}
.input-group-text{
    span{
        font-size: 14px;
    }
}
.img-circle{
    border-radius: 50px;
    margin-bottom: 15px;
    width:80px;
    height: 80px;

    &.img-mini{
        width:40px;
        height: 40px;
        padding:0px;
    }
}


.card{
    border:0px !important;
    margin-top: 10px;
    border-radius: 15px !important; 
    box-shadow: 0px 4px 18px -9px #ababab;

    &.task-archieved{
        background: $color_card_arvhieved;

        button{
            background: $color_card_arvhieved !important;
        }

        .tag-item{
            background: $color_card_arvhieved_button !important;
        }

        .dropdown-menu{
            background: $color_card_arvhieved !important;
        }
    }

    .card-top{
        padding-top: 10px;
        display: flex;
        flex-direction: row; 
        align-items: center;

        .tags{
            display: flex;
            gap:2px;
            margin-left: 15px;
            align-items: center;

            .tag-item{
                font-size: 13px;
                border:0.5px solid #ccc;
                padding:5px 8px;
                border-radius: 20px;
                font-weight: 700;
                background: $dark_pink;
                color:#ffffff;
                margin-top: 5px;

                &.priority{
                    &.high{
                        background: $color_priority_high;
                    }

                    &.medium{
                        background: $color_priority_medium;
                    }

                    &.low{
                        background: $color_priority_low;
                    }

                    &.urgent{
                        background: $color_priority_urgent;
                    }
                }
            }
        }

        .menu{
            display: inline-block;
            width: 90%;
            text-align: right;
            padding-right: 15px;
            font-size: 25px;
        }
    }

    .dropdown-toggle{
        background: $color_white !important;
        color: $text_dark !important;
        border:0px;
        padding-right: 0px;;
        font-size: 14px;

        &::after{
            display: none;
        }

        &:focus, &:active, &:hover, &:in{
            background: $color_white !important;
            color: $text_dark !important;  
        }
    }

    .card-title{
        font-size: 22px;
        font-weight: 600;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        color: #555;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-control{
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        font-size: 14px;
        width:200px;

        .dropdown-toggle{
            background: $color_white;
            color: $text_dark;
            border: 0px !important;
            padding-left: 0px;

            &::after{
                display: none;
            }

            &:active{
                background: $color_white;
                color: $text_dark;
            }
        }

        .dropdown-item{
            display: flex;
            align-items: center;
            color: $text_dark;
        }

        .square-badge{
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            border-radius: 15px;

            &.todo{
                background: $color_badge_todo;
            }

            &.progress{
                background: $color_badge_progress;
            }

            &.completed{
                background: $color_badge_completed;
            }

            &.archieved{
                background: $color_badge_archieved;
            }
        }
    }

    .card-description{
        font-size: 14px;
        color:$text_dark;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        padding-left: 15px;
        padding-right: 15px;
        height: 65px;
    }

    .card-body{
        display: flex;
        gap: 5px;

        .duedate{
            display: flex;
            width: 100px;
            flex-direction: row;
            align-items: center;
            gap:5px;
            font-size: 14px;
            color: #666;
        }

        .attached{
            display: flex;
            width: 100px;
            flex-direction: row;
            align-items: center;
            gap:5px;
            font-size: 14px;
            color: #666;
        }

        .assignee{
            width:40px;
            display: block;
            text-align: right;

            .assign{
                width:32px;
                height: 32px;
                border-radius: 30px;
                background: $purple;
                padding: 6px;
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                float: right;
                display: flex;
                white-space: nowrap;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.multiselect-custom{
    margin-top: 20px !important;
    min-height: 22px !important;
    height: 38px !important;
    border-radius: 10px !important;
}

.no-data-found{
    width: 100%;
    display: flex;
    vertical-align: middle;
    text-align: center;
    border-radius: 30px;
    justify-content: center;
    height: 100%;
    align-items: center;

    div{
        width:450px;
        height: 450px;
        display: inline-block;

        img{
            width: 100%;
            border-radius: 30px;
        }

        h1{
            margin-top: 25px;
            font-weight: 800;
            color: $text_dark;
        }

        p{
            color: $text_dark;
        }
    }
}

.form-label{
    font-weight: 600;
    color: $text_dark;
}