<template>
    <div class="row">
        <div class="col-12">
            <div class="content">
                <div class="head">
                    <div class="title">
                        <font-awesome-icon icon="fa-solid fa-edit" /> Tasks
                    </div>
                    <div class="button-group">
                        <button type="button" class="custom-btn-upload" @click="newData">
                            <font-awesome-icon icon="fa-solid fa-plus"/>
                            New Task
                        </button>

                        <div style="width:10%;"></div>

                        <Multiselect
                            v-model="filter.status"
                            class="multiselect-custom"
                            mode="tags"
                            :close-on-select="false"
                            :searchable="true"
                            :create-option="false"
                            :options="status_options"
                            placeholder="Filter the task"
                            style="max-width:380px;"
                        />
                        <div class="">
                            <div class="input-group" style="width: 250px;">
                                <div class="input-group-addon">Due date</div>
                                <VueDatePicker  style="width: 150px;" v-model="filter.date" uid="demo" timezone="Asia/Jakarta" range class="input-filter" @update:model-value="datarangeHandler"/>
                            </div>
                        </div>
                        
                        <div class="">
                            <div class="input-group" style="width: 200px;">
                                <div class="input-group-addon">Sort by</div>
                                <b-form-select class="input-filter" v-model="filter.sort_by" :options="sort_options" placholder="Order By" ></b-form-select>
                            </div>
                        </div>

                        <div class="input-group" style="width: 200px;">
                            <input type="text" class="form-control" placeholder="Search" v-model="keyword"/>
                            <span class="input-group-addon">
                                <template v-if="keyword">
                                    <font-awesome-icon icon="fa-solid fa-xmark" @click="keyword=''"/>
                                </template>
                                <template v-else>
                                    <font-awesome-icon icon="fa-solid fa-search" />
                                </template>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-3" v-for="(task,index) in tasks" v-bind:key="index">
                            <div class="card" :class="'task-'+task.status">
                                <div class="card-top">
                                    <div class="tags">
                                        <div class="tag-item" v-for="(tag,itag) in task.tags">{{ tag.tag.name }}</div>
                                        <div class="tag-item priority " :class="priorities[task.priority]">{{ priorities[task.priority] }}</div>
                                    </div>
                                    <div class="menu">
                                        <b-dropdown>
                                            <template #button-content>
                                                <font-awesome-icon icon="fa-solid fa-ellipsis" />
                                            </template>
                                            <b-dropdown-item @click="editTask(task, index)" v-if="task.status!='archieved'"> 
                                                Manage/Edit
                                            </b-dropdown-item>
                                            <b-dropdown-item @click="sendToArchieve(task)" v-if="task.status!='archieved'"> 
                                                Send to archieve
                                            </b-dropdown-item>
                                            <b-dropdown-item @click="sendToUnarchieved(task)" v-if="task.status=='archieved'"> 
                                                Unarchieve
                                            </b-dropdown-item>
                                        </b-dropdown>
                                    </div>
                                </div>
                                <div class="card-title">{{ task.title}}</div>
                                <div class="card-description">
                                    {{ task.description }}
                                </div>

                                <div class="card-body">
                                    <div class="duedate">
                                        <font-awesome-icon icon="fa-solid fa-calendar" /> 
                                        <template v-if="task.due_date">
                                            {{ formatDue(task.due_date) }}
                                        </template>
                                        <template v-else>
                                            -- --
                                        </template>
                                    </div>
                                    <div class="attached">
                                        <font-awesome-icon icon="fa-solid fa-paperclip" /> {{ (task.files)?task.files.length:0 }}
                                    </div>

                                    <div class="card-control">
                                        <div class="square-badge" :class="task.status"></div>
                                        <b-dropdown :text="statuses[task.status]">
                                            <template v-if="task.status!='archieved'">
                                                <b-dropdown-item href="#" v-for="(status,istat) in statuses" @click="changeStatus(task,istat)"> 
                                                    <span :class="istat" class="square-badge"></span>{{status}}
                                                </b-dropdown-item>
                                            </template>
                                        </b-dropdown>
                                    </div>

                                    <div class="assignee" v-if="task.assignee">
                                        <div class="assign">
                                            {{ getNameExtract(task.assignee.assignee.name)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <template v-if="tasks.length">
                        
                    </template>
                    <template v-else>
                        <div class="no-data-found">
                            <div>
                                <img src="../../assets/img/no_data.png">
                                <h1>You have no task</h1>
                                <p>You can create new task by clicking "New Task" button</p>
                            </div>
                        </div>
                    </template>

                    <div class="text-center" >
                        <div class="paginations">
                            <Pagination ref="pagination" @setCurrentPage="getDataOnPage" :perPage="perPage"></Pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <Alert ref="alerts"></Alert>
        <Loading :show="loading"></Loading>
        <ConfirmRemove ref="remove" @confirmYes="doDeleteData"></ConfirmRemove>

        <PopupAddTask ref="addtask" @createNewTask="createNewTask" :tags="tags" :users="users"></PopupAddTask>
        <PopupEditTask ref="edittask" @saveTaskUpdate="saveTaskUpdate"  :tags="tags"  :users="users"></PopupEditTask>
    </div>
</template>
<script>
import { mapActions } from "vuex";
import Loading from '@/components/LoadingProgress.vue'
import Alert from '@/components/AlertTransaction.vue'
import Pagination from '@/components/PaginationView.vue'
import ConfirmRemove from '@/components/AlertConfirm.vue'

import PopupAddTask from '@/components/PopupNewTaskView.vue'
import PopupEditTask from '@/components/PopupEditTaskView.vue'

import Multiselect from '@vueform/multiselect'
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

export default {
    components:{
        Loading,
        Alert,
        Pagination,
        ConfirmRemove,
        Multiselect,
        VueDatePicker,
        PopupAddTask,
        PopupEditTask
    },

    data(){
        return {
            posts:[],
            loading:false,
            currentPage:1,
            perPage:12,
            keyword:null,
            keywordTimeout:null,
            selected_id:null,
            form: {},
            basepath:null,
            filter:{
                status:['todo'],
                sort_by:'created_at',
                date:[new Date(), new Date()]
            },
            priorities:[
                'low','medium','high','urgent'
            ],
            status_options:[
                {
                    label:"To do",
                    value:"todo"
                },{
                    label:"On going",
                    value:"progress"
                },
                {
                    label:"Completed",
                    value:"completed"
                },
                {
                    label:"Archived",
                    value:"archieved"
                }
            ],

            sort_options:[
                {
                    text:"Created at",
                    value:"created_at"
                },{
                    text:"Completed time",
                    value:"updated_at"
                },
                {
                    text:"Priority Level",
                    value:"priority"
                },
                {
                    text:"Due date",
                    value:"due_date"
                }
            ],
            statuses:{
                'todo'      : "To do",
                'progress'  : "On progress",
                'completed' : "Completed",
                'archieved' : "Archieved" 
            },
            months:[
                'Jan','Feb','Mar',"Apr","May","Jun","Jul",'Aug','Sep','Oct','Nov',"Dec"
            ],
            tasks:[],
            tags:[],
            users:[]
        }
    },

    watch:{
        keyword:function(){
            clearTimeout(this.keywordTimeout)

            this.keywordTimeout = setTimeout(()=>{
                this.getDataOnPage(1)
            },800)
        },

        'filter.status':function(){
            this.getDataOnPage(1)
        },

        'filter.date':function(){
            this.getDataOnPage(1)
        },
        'filter.sort_by':function(){
            this.getDataOnPage(1)
        }
    },

    methods:{
        ...mapActions(["getTasks","updateTask","checkAuth","createTask","searchTag","searchUser"]),

        datarangeHandler(dates){
            this.filter.date = dates
        },

        sendToArchieve(task){
            task.status='archieved'
            this.saveUpdate(task)
        },

        sendToUnarchieved(task){
            task.status='todo'
            this.saveUpdate(task)
        },

        changeStatus(pack,status){
            console.log(pack,"PPP")
            pack.status = status
            this.saveUpdate(pack)
        },

        formatDue(date){
            const d = new Date(date)
            return this.months[d.getMonth()]+" "+d.getDate()
        },

        getNameExtract(name){
            return Array.from(name)[0]
        },

        toLocalTime(time){
            const datetime = new Date(time)
            return datetime.toLocaleString()
        },

        getThumbnail(path){
            return this.basepath+'/uploads/'+path
        },

        editTask(task,intask){
            const ctask = JSON.parse(JSON.stringify(task))

            let tags = []
            for(let index in ctask.tags){
                tags.push(task.tags[index].tag.id)
            }
            
            ctask.tags = tags
            ctask.assign_to = (task.assignee)?task.assignee.assignee.id:null
            ctask.index = intask

            this.$refs.edittask.showForm(ctask)
        },

        newData(){
            this.$refs.addtask.showForm()
        },

        async createNewTask(data){
            this.loading = true
            this.response = null

            this.hospitals = []

            try{
                const params = data

                const response = await this.createTask(params)

                if(response.data.status=="success"){
                    this.$refs.alerts.setAlert("custom-success",response.data.message);
                    this.$refs.alerts.showAlert();

                    this.tasks.push(response.data.data)
                }else{
                    this.$refs.alerts.setAlert(response.data.status,response.data.data);
                    this.$refs.alerts.showAlert();
                }

                this.loading = false
            }catch(error){
                this.$refs.alerts.setAlert('error',error)
                this.$refs.alerts.showAlert()
                this.loading = false
            }
        },

        saveTaskUpdate(data){
            const index = this.tasks.indexOf(data)
            this.saveUpdate(data)
        },

        async getData(){
            this.loading = true
            this.response = null

            this.hospitals = []

            try{
                const params   = {
                    currentPage: this.currentPage,
                    perPage:this.perPage,
                    keyword:this.keyword,
                    filter:this.filter
                }

                console.log(params)

                const response = await this.getTasks(params)

                if(response.data.status=="success"){
                    this.tasks = response.data.data
                   
                    this.$refs.pagination.setTotalData(response.data.total)
                    this.basepath = response.data.base_path
                }else{

                }

                this.loading = false
            }catch(error){
                this.$refs.alerts.setAlert('error',error)
                this.$refs.alerts.showAlert()
                this.loading = false
            }
        },

        toLocalTime(time){
            const datetime = new Date(time)
            return datetime.toLocaleString()
        },

        setDeleteData(id){
            this.selected_id = id
            this.$refs.remove.showConfirm('are you sure to remove this data?')
        },

        async doDeleteData(){
            this.loading = true
            this.response = null

            try{
                this.form.id = this.selected_id
                
                const response = await this.deletePost(this.form)

                if(response.data.status=="success"){
                    this.$refs.alerts.setAlert('custom-success',response.data.messages)
                    this.$refs.alerts.showAlert()
                    this.getDataOnPage(this.currentPage)
                }else{
                    this.$refs.alerts.setAlert(response.data.status,response.data.data)
                    this.$refs.alerts.showAlert()
                }

                this.loading = false
            }catch(error){
                this.$refs.alerts.setAlert('error',error)
                this.$refs.alerts.showAlert()
                this.loading = false
            }
        },  

        async doSearchTag(keyword){
            try {
                const params = {
                    keyword:keyword
                }
                
                const response = await this.searchTag(params)
                
                if(response.data.status == "success"){
                    const tags = response.data.data
                    for(let index in tags){
                        this.tags.push({
                            label:tags[index].name,
                            value:tags[index].id
                        })
                    }
                }

            } catch (error) {
                this.$refs.alerts.setAlert('error_validation',error)
                this.$refs.alerts.showAlert()
                this.loading = false
            }
        },

        async saveUpdate(task){
            this.loading = true
            this.response = null

            this.hospitals = []

            try{
                const params = task

                const response = await this.updateTask(params)

                if(response.data.status=="success"){
                    this.$refs.alerts.setAlert("custom-success",response.data.message);
                    this.$refs.alerts.showAlert();
                    
                    let index = task.index
                    if(index==undefined){
                        index = this.tasks.indexOf(task)
                    }
                   
                    if(response.data.data.status=='archieved'){
                        this.tasks.splice(index,1)
                    }else{
                        this.tasks[index] = response.data.data
                    }
                }else{
                    this.$refs.alerts.setAlert(response.data.status,response.data.data);
                    this.$refs.alerts.showAlert();
                }

                this.loading = false
            }catch(error){
                this.$refs.alerts.setAlert('error',error)
                this.$refs.alerts.showAlert()
                this.loading = false
            }
        },

        async doSearchUser(keyword){
            try {
                const params = {
                    keyword:keyword
                }
                
                const response = await this.searchUser(params)
                
                if(response.data.status == "success"){
                    const users = response.data.data
                    for(let index in users){
                        this.users.push({
                            text:users[index].name,
                            value:users[index].id
                        })
                    }
                }

            } catch (error) {
                this.$refs.alerts.setAlert('error_validation',error)
                this.$refs.alerts.showAlert()
                this.loading = false
            }
        },

        formatToDate(date){
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        },

        getDataOnPage(page){
            if(this.tasks.length){
                this.$refs.pagination.setCurrentPage(page)
            }
            this.currentPage = page
            this.getData()
        },
    },

    mounted(){
        const user = this.$store.getters.getUser
        if(!user){
            this.$router.push("/")
        }else{
            this.doSearchTag('')
            this.doSearchUser('')
            this.getDataOnPage(1)
        }
    }
}
</script>
<style src="@vueform/multiselect/themes/default.css"></style>