<template>
    <div class="login">
        
        <div class="row justify-content-center">
            <div class="col-login">
                <h1>Login</h1>
                
                <div class="custom-form">
                    <float-label>
                        <input class="form-control" type="email" placeholder="Email address" v-model="form.email"/>
                    </float-label>

                    <float-label>
                        <input class="form-control" type="password" placeholder="Password" v-model="form.password"/>
                    </float-label>
                    
                    <button class="btn-primary mt-5" @click="doLogin()">SIGN IN</button>
                </div>
            </div>
        </div>
    </div>

    <Alert ref="alerts"></Alert>
    <!-- <Loading :show="loading"></Loading> -->
</template>

<script>
import { mapActions } from "vuex";
// import Loading from '@/components/LoadingProgress.vue'
import Alert from '@/components/AlertTransaction.vue'

export default {
    components:{
        // Loading,
        Alert
    },

    data(){
        return {
            loading:false,
            form:{
                email:null,
                password:null
            }
        }
    },

    compatConfig: { MODE: 3 },

    methods:{
        ...mapActions(["Login","setLogin","checAuth"]),

        async doLogin(){
            this.loading = true
            this.response = null

            try {
                const response = await this.Login(this.form)
                console.log(response,"DATA")

                this.response = response.data
                
                if(this.response.status == "success"){
                    this.setLogin(this.response)
                    this.$router.push('dashboard')

                }else if(this.response.status == "error_validation"){
                    this.$refs.alerts.setAlert('error_validation',this.response.data)
                    this.$refs.alerts.showAlert()
                }else{
                    this.$refs.alerts.setAlert('error',this.response.data)
                    this.$refs.alerts.showAlert()
                }
                
            } catch (error) {
                this.error = error
                this.$refs.alerts.setAlert('error',error)
                this.$refs.alerts.showAlert()
            }

            this.loading = false
        }
    },

    mounted(){
        const user = this.$store.getters.getUser
        console.log(user,"CHECK")
        if(user){
            this.$router.push("/dashboard")
        }
    }
}
</script>
<style>
.md-form label.active {
  font-size: 0.8rem;
  transform: translateY(-140%);
}
</style>