<template>
    <div>
        <div class="wrapper">
            <div class="menu-wrapper">
                <SidebarMenu></SidebarMenu>
            </div>
            <div class="main">
                <router-view @showAlert="showAlert"></router-view>
            </div>
        </div>
    </div>
</template>

<script>


import SidebarMenu from '@/components/SidebarView.vue'

export default {
    components:{
        SidebarMenu,
    },
    data(){
        return {
            loading:false
        }
    },

    methods:{

        setData(point,value){
            if(point=='language'){
                console.log(value,"LANG")
            }
        }
    }
}
</script>
