<template>
    <BModal class="custom-modal-confirm" v-model="openModal" hide-header="true" hide-footer="true" no-close-on-backdrop="true" hide-header-close="true">

        <div class="text-center  mb-3 mt-3">
            <span v-html="messages"></span>
        </div>

        <div class="row mt-5">
          <div class="col-12 text-center gap15">
            <b-button class="btn custom-btn-upload" @click="tutupForm()">Cancel</b-button> 
         
            <b-button class="btn custom-btn-primary " @click="confirm()">Yes</b-button>
          </div>
        </div>

    </BModal>
</template>
<script>

export default {
    data(){
        return {
            messages:"",
            openModal:false,
            type: "",
        }
    },
    
    methods:{
        showConfirm(text){
            this.messages = text
            this.openModal = true
        },

        tutupForm(){
            this.openModal = false
        },

        confirm(){
            this.$emit('confirmYes')
            this.openModal = false
        }
    }
}
</script>
