<template>
    <div class="overflow-auto">
        <!-- Use text in props -->
        <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-text="First"
        prev-text="Prev"
        next-text="Next"
        last-text="Last"
        ></b-pagination>
    </div>
</template>
<script>
export default {
    props:{
        perPage:{
            default:25,
            
        }
    },

    data(){
        return {
            currentPage:1,
            rows:0,
        }
    },

    watch:{
        currentPage:function(){
            this.$emit('setCurrentPage',this.currentPage)
        }
    },

    methods:{
        setTotalData(rows){
            this.rows = rows
        },

        setCurrentPage(cpage){
            this.currentPage = cpage
        }
    }
}
</script>
