<template>
    <div>
      <BModal v-model="openModal" :title="title" hide-footer="true" no-close-on-backdrop="true" hide-header-close="true" class="module-upload">
        <div class="assignment pb-5">
            <div class="row">
                <div class="col-12">
                    <b-form-group id="input-group-3" label="Title" label-for="input-3">
                        <b-form-input
                        v-model="data.title"
                        required
                        placeholder="Type your task"
                        ></b-form-input>
                    </b-form-group>
                </div>

                <div class="col-12">
                    <b-form-group id="input-group-3" label="Description" label-for="input-3">
                        <b-form-textarea
                        v-model="data.description"
                        required
                        placeholder="Type the detail"
                        rows="3"
                        ></b-form-textarea>
                    </b-form-group>
                </div>

                <div class="col-6">
                    <b-form-group id="input-group-3" label="Assign to" label-for="input-3">
                        <b-form-select
                        id="input-3"
                        v-model="data.assign_to"
                        :options="users"
                        required
                        placeholder="Select worker"
                        ></b-form-select>
                    </b-form-group>
                </div>

                <div class="col-6">
                    <b-form-group id="input-group-2" label="Duedate" label-for="input-2">
                        <b-form-input
                            id="input-2"
                            v-model="data.due_date"
                            placeholder="Enter name"
                            required
                            type="date"
                        />
                    </b-form-group>
                </div>

                <div class="col-6">
                    <b-form-group id="input-group-3" label="Priority" label-for="input-3">
                        <b-form-select
                        id="input-3"
                        v-model="data.priority"
                        :options="priorities"
                        required
                        placeholder="Select worker"
                        ></b-form-select>
                    </b-form-group>
                </div>
                
                <div class="col-6">
                    <b-form-group id="input-group-3" label="Tags" label-for="input-3">
                        <Multiselect
                            v-model="data.tags"
                            class="multiselect-custom"
                            mode="tags"
                            :close-on-select="false"
                            :searchable="true"
                            :create-option="false"
                            :options="tags"
                            placeholder="Filter the task"
                            style="margin-top: 0px !important; border-radius:5px !important;"
                        />
                    </b-form-group>
                </div>

                <div class="col-12">
                    <b-form-group id="input-group-3" label="Upload File" label-for="input-3">
                        <button type="button" class="custom-btn-upload" @click="$refs.fileupload.click()">Select File(s)</button>
                        <input type="file" ref="fileupload" multiple="true" style="display: none;" v-on:change="handleFileUpload(value)" />
                        <div v-if="data.upload_files">{{ data.upload_files.length }} file(s) added</div>
                        <div v-if="data.files">
                            <ul class="mt-2">
                                <li v-for="(file,index) in data.files" v-bind:key="index">
                                    <a href="">
                                        {{ file.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </b-form-group>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <button class="custom-btn-upload" @click="createNewTask()">
                    Save Changes/Update <font-awesome-icon icon="fa-solid fa-floppy-disk" />
                </button>

                <button class="custom-btn-danger" @click="tutupForm()">
                    Close <font-awesome-icon icon="fa-solid fa-xmark" />
                </button>
            </div>
        </div>
      </BModal>
    </div>
  </template>
  
  <script>
    import Multiselect from '@vueform/multiselect'

    export default {
        props:{
            tags:{
                default:[],
                required:true
            },
            users:{
                default:[],
                required:true
            }
        },
        components:{
            Multiselect
        },

        data(){
            return {
                title:"Edit Task",
                selected:null,
                openModal:false,
                data:{
                    id:null,
                    title:null,
                    description:null,
                    assign_to:null,
                    due_date:null,
                    priority:'low',
                    tags:[],
                    status:"todo",
                    index:null,
                    upload_files:[]
                },

                priorities:[
                    {
                        text:"Low",
                        value:"0"
                    },
                    {
                        text:"Medium",
                        value:"1"
                    },
                    {
                        text:"High",
                        value:"2"
                    },
                    {
                        text:"Urgent",
                        value:"3"
                    },
                ],
            }
        },
        
        methods:{
            showForm(data){
                this.openModal = true
                this.data   = data
            },

            tutupForm(){
                this.openModal = false
            },

            handleFileUpload(){
                const files = this.$refs.fileupload.files
                this.data.upload_files = files
            },
    
            createNewTask(){
                this.$emit('saveTaskUpdate',this.data)
                this.tutupForm()
            },

        },
        mounted(){
            
        },
      
    }
  </script>

<style src="@vueform/multiselect/themes/default.css"></style>