<template>
    <div  class="sidebar-left" :class="(minimize_menu)?'minimize':''">
        <div class="logo">
            <img src="https://appetiser.com.au/wp-content/uploads/2023/02/Appetiser-Logo.webp">
        </div>
        <div class="menu">
            <div class="menu-item">

                <div class="menu-item-right">
                    <div class="account">
                        <span class="account-name">Hi, {{ (user)?user.name:'' }}</span>

                    </div>
                </div>
            </div>

            <div class="menu-item" :class="(active_menu=='/dashboard' || $route.path=='/dashboard')?'active':''" @click="goTo('/dashboard')">
                <div class="menu-item-left">
                    <div class="icon">
                        <font-awesome-icon icon="fa-solid fa-tasks" />
                    </div>
                </div>

                <div class="menu-item-right">
                    <span class="menu-name">
                        Tasks
                    </span>
                </div>
            </div>


            <div class="menu-item separated" :class="(active_menu=='/setting')?'active':''" @click="goTo('/setting')" v-if="checkAccess(['superadmin'])">
                <div class="menu-item-left">
                    <div class="icon">
                        <font-awesome-icon icon="fa-solid fa-gear" />
                    </div>
                </div>

                <div class="menu-item-right">
                    <span class="menu-name">
                        Setting
                    </span>
                </div>
            </div>


            <div class="menu-item" @click="doLogout()">
                <div class="menu-item-left">
                    <div class="icon">
                        <font-awesome-icon icon="fa-solid fa-power-off" />
                    </div>
                </div>

                <div class="menu-item-right">
                    <span class="menu-name">
                        Logout
                    </span>
                </div>
            </div>

            <div class="menu-item separated" @click="minimizeMenu()">
                <div class="menu-item-left">
                    <div class="icon"  v-if="!minimize_menu">
                        <font-awesome-icon icon="fa-solid fa-minimize" />
                    </div>
                    <div class="icon"  v-else>
                        <font-awesome-icon icon="fa-solid fa-maximize" />
                    </div>
                </div>

                <div class="menu-item-right" v-if="!minimize_menu">
                    <span class="menu-name">
                        Minimize
                    </span>
                </div>
            </div>


        </div>
    </div>
  </template>
  
<script>
import { mapActions } from "vuex";

export default {
    components: {},
    data() {
        return {
            role:null,
            active_menu:'dashboard',
            minimize_menu:false,
        }
    },

    computed:{
        user(){
            const user = this.$store.getters.getUser;
            console.log(user,"ISSSS")
            return user
        }
    },

    watch:{
        minimize_menu:function(){
            if(this.minimize_menu) return 'Maximize'
            else return "Minimize"
        }
    },

    methods:{
        ...mapActions(["Logout","getUser"]),

        getActiveMenu(menu){
            let menuarray = this.$route.path.split("/")
            if(menu==menuarray[1]){
                return true
            }else{
                return false
            }
        },

        goTo(path_name){
            this.active_menu = path_name
            this.$router.push(path_name)
        },

        minimizeMenu(){
            this.minimize_menu = !this.minimize_menu
        },

        checkAccess(departments){
            const user = this.$store.getters.getUser
        },

        doLogout(){
            this.loading = true
            const response = this.Logout();
            if(response){
                this.loading = false
                this.$router.push("/")
            }
        },

        showLanguageOption(){
            this.$parent.showOptions("Select language", "language", this.languageoption, this.selected_language)
        }
    },

    mounted(){     
        console.log(this.user,"USSS")   
        const current_menu = this.$route.path.substring(1);
        this.active_menu = current_menu
    }
}
</script>